data/storage
data/storage2
data/qdrant
data/.qdrant-initialized
okb_assist.db.bak.*
.env
config.json
system.json
.venv/
__pycache__/
*.pyc
*.db
uploads/
qdrant_data/
.swp
.webui_secret_key

data/*.csv
*.log
